<a href="https://colab.research.google.com/github/rrbka69/-/blob/main/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pow(2,3)

8

1.1 Соедините два словаря в один

In [ ]:
dict1={'One':1,'Two':2, 'Three':3}
dict2={'Four':4,'Five':5, 'Six':6}

dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

1.2 Напишите функцию, которая на вход принимает два
словаря и возвращает один объединенный словарь
Используйте аннотирование типов

In [ ]:
dict1={'One':1,'Two':2, 'Three':3}
dict2={'Four':4,'Five':5, 'Six':6}

def merge_dict(dict1: dict, dict2: dict)->dict:
  dict1.update(dict2)
  return dict1

merge_dict(dict1,dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

2 Напишите функцию, которая из двух списков, делает один словарь, где
элементы из первого списка - ключи, а элементы из второго списка -
значения

2.1 Используя цикл for

In [ ]:
keys = ['One','Two', 'Thruee']
values = [1,2,3]
def get_dict(keys: list, values: list)->dict:
  res_dict = {}
  for i in range(len(keys)):
    res_dict.update(
        {
            keys[i]: values[i]
        })
    return res_dict

get_dict(keys, values)

{'One': 1}

2.2 Используя dict comprehensions

In [ ]:
keys = ['One','Two', 'Thruee']
values = [1,2,3]
def get_dict(keys: list, values: list) -> dict:
  return{keys[i]: values [i] for i in range(len(keys)) }


get_dict(keys, values)

{'One': 1, 'Two': 2, 'Thruee': 3}

3.1 Напишите функцию с циклом for
Функция на вход принимает:

исходный словарь
ключи, которые нужно извлечь (аргумент по умолчанию)
На выходе словарь с нужными ключами

Используйте аннотирование типов

In [ ]:
client_dict = {
"name": "John",
"age": 25,
"salary": 5000,
"city": "Moscow"
}
keys = ['name', 'age']

In [ ]:
def get_keys(base_dict: dict, keys: list) -> dict:
  res = {}
  for k in keys:
    res.update({
      k: base_dict[k]
    })
  return res

get_keys(client_dict, keys)

{'name': 'John', 'age': 25}

3.2 Используя dict comprehensions

In [ ]:
new_dict = {i: client_dict[i] for i in keys}
new_dict

{'name': 'John', 'age': 25}

5.1 Найдите картинку в интернете и прикрепите её
в ячейку с текстом

<img src=https://img.freepik.com/free-photo/a-cupcake-with-a-strawberry-on-top-and-a-strawberry-on-the-top_1340-35087.jpg width=300>

5.2 Создайте следующую таблицу в ячейке с
текстом

<table>
    <tr>
        <td> </td>
        <td>До события</td>
        <td>Во время события</td>
    </tr>
    <tr>
        <td>1 контрольная точка</td>
        <td>250</td>
        <td>500</td>
    </tr>
    <tr>
        <td>2 контрольная точка</td>
        <td>350</td>
        <td>700</td>
    </tr>
    <tr>
        <td>3 контрольная точка</td>
        <td>400</td>
        <td>800</td>
        </tr>
    <tr>
        <td>итог за победу</td>
        <td>1000</td>
        <td>2000</td>
    </tr>
</table>

6 Напишите функцию, которая может принимать любое
количество трат пользователя и считать сумму и среднее.
На вход поступают целочисленные значения в любом
количестве
На выходе словарь с ключами суммы трат и средней
траты

In [41]:
def calc(*args):
  sum_purch = sum(args)
  n_purch = len(args)
  return {
    'sum': sum_purch,
    'avg': sum_purch / n_purch
  }

calc(1, 2, 3, 4, 5)

{'sum': 15, 'avg': 3.0}

4.1 Сгенерируйте случайные целые числа от 0 до
100 в количестве 5 штук с помощью модуля
random

● Зафиксируйте псевдогенерацию, чтобы
сгенерированные значения всегда были одинаковые

● Используйте list comprehensions

In [50]:
import random
# random.seed(213)

num = [random.randint(0, 100) for i in range(5)]
num

[91, 25, 73, 87, 75]

4.2 Напишите генератор
Генератор на вход принимает список с данными о клиенте (данные
из пункта 4.1)
Внутри генератора реализуйте обход по списку с данными
На каждой итерации генератор будет возвращать кортеж из двух
элементов:

1. данные по клиенту (в зависимости от итерации, на 0 итерации
вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)

2. целочисленное значение, которое показывает, сколько секунд
прошло с предыдущей итерации

Примечание: секунды, которые возвращаются должны показывать время не
с начала запуска генератора, а именно то время, которое прошло с
предыдущей итерации. А значит время на первой итерации должно
равняться 0.
Используйте функцию time из модуля time для подсчета времени.
Чтобы проверить работу таймера, запустите проход по
генератору в цикле с time.sleep(2)

In [51]:
import time

def generator(data: list):
  last_time = None
  for i in data:
    curr_time = time.time()

  if last_time:
    delta = curr_time - last_time
  else:
    delta = curr_time - curr_time

  last_time = time.time()
  yield (int(delta), i)

In [52]:
for i in generator(num):
  print(i)
time.sleep(2)

(0, 75)